body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}


div.crudtable {
  margin: 0px 18px;
}

.required:after {
  content: "*";
  color: #D00;
  padding-left: 2px;
}


form.form-horizontal .control-group {
  margin-bottom: 6px;
}

ul.record_actions {
  margin: 6px 0;
}

ul.record_actions li {
  display: inline;
  margin-right: 2px;
}

ul.record_actions form, ul.record_actions div  {
  display: inline;
}

table.records_list th {
  border: 1px solid #CCC;
  background: #EEE;
  padding: 3px;
  margin: 0px;
}

table.records_list td {
  border: 1px solid #CCC;
  padding: 3px;
  margin: 0px;
}