<!DOCTYPE html>
<html lang="{{ app.request.get('_language') }}">
    <head>
        <meta charset="{{ html.meta.charset }}">
        <title>{{ html.title }}</title>
    </head>

    <body>

    {% block body %}

    Base body

    {% endblock %}

    </body>

</html>
