{% extends 'PivotXCoreBundle::base.html.twig' %}

{% block crud %}

<h1>User creation</h1>

<form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
