
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <footer>
                <p>PivotX version 4.1.x</p>
            </footer>
        </div>
    </div>
</div>
