{% extends 'PivotXCoreBundle::base.html.twig' %}

{% block crud %}

<h1>Content creation</h1>

<form action="{{ path('content_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('content') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
