{% extends "BackendBundle:Base:content_and_meta.html.twig" %}

{% block content %}

    {{ table|raw }}

    {% include "BackendBundle:Include:pagination.html.twig" with {'items': items, 'link':['_table/',crud.entity,'?',translate('pagination.page_variable'),'=%s']|join } %}
{% endblock %}


{% block meta_content %}
    
    <div class="well sidebar-nav crud-meta" data-crud-table="{{ crud.htmlid }}">

    {% for widget in widgets %}
    
        {% if not loop.first %}
        <hr />
        {% endif %}

        {% include widget %}

    {% endfor %}

    </div>

{% endblock %}

