{% extends "TwoKingsEBikeBundle:Default:base.html.twig" %}

{% block page_title %}
    Over de E-Bike selector
{% endblock %}

{% block body %}

<p>
    Allemaal tekst over de E-Bike Selector
</p>

{% endblock %}
