
<a name="nieuw"></a>
<form method="post" action="">

    {{ form_widget(bikereview_new_form) }}

   <!-- <input type="submit" /> -->

    <button type="submit" value="clicked">
	
	{% image '@TwoKingsEBikeBundle/Resources/public/images/verstuur-review.png' %}<img src="{{ asset_url }}" alt="" />{% endimage %}
	
	</button>

</form>
