        <ul class="nav nav-list">
            <li class="nav-header">Export and import</li>
            <li>
                <p>
                    All items will be exported unless a selection is made.
                    <div class="btn-group">
                        <a class="btn" href="#">
                            Export as CSV
                        </a>
                        <a class="btn btndropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Export as tab seperated</a></li>
                            <li><a href="#">Import items</a></li>
                        </ul>
                    </div>
                </p>
            </li>
        </ul>
