        <ul class="nav nav-list">
            <li class="nav-header">General information</li>
            <li>
            {% if items.length == 0 %}
                <p>There are no items.</p>
            {% elseif items.length == 1 %}
                <p>There is {{ items.length }} item.</p>
            {% else %}
                <p>There are {{ items.length }} items.</p>
            {% endif %}
            </li>
            {#
            <li>
                <p>
                    <a class="btn" href="{{ ref(['_table/',crud.entity,'/0']|join) }}">Add a new item</a>
                </p>
            </li>
            #}
        </ul>
