        <ul class="nav nav-list crud-selection">
            <li class="nav-header">Selection</li>
            <li>
                <p>
                    <span class="triselect">
                        <span class="tri-0">You have <span class="count">no</span> selected items.</span>
                        <span class="tri-1">You have <span class="count">1</span> selected item.</span>
                        <span class="tri-x">You have <span class="count">-</span> selected items.</span>
                    </span>
                    <br/>
                    The following actions are available for your selection:
                </p>
            </li>
            <li>
                {#
                <p>
                    <a class="btn" href="#">Batch edit</a>
                    <a class="btn" href="#">Edit in sequence</a>
                </p>
                #}
                <p>
                    {#
                    <a class="btn btn-danger" href="#">Delete</a>
                    #}
                    {# enable only for entities with feature Publishable #}
                    {#
                    <a class="btn" href="#">Publish now</a>
                    <a class="btn" href="#">Depublish now</a>
                    #}
                </p>
            </li>
        </ul>
