{% extends 'PivotXBackendBundle::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block heading %}This is the heading{% endblock %}


{% block body %}

<p>
Hello, {{ name }}
</p>

{% endblock %}
