{% extends 'PivotXBackendBundle::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block heading %}This is the heading{% endblock %}


{% block herounit %}

<p>
Hallo!
</p>

{% endblock %}
