{% extends 'PivotXBackendBundle::base.html.twig' %}

{% if form is defined %}
{% form_theme form 'PivotXBackendBundle:Form:fields.html.twig' %}
{% endif %}
{% if edit_form is defined %}
{% form_theme edit_form 'PivotXBackendBundle:Form:fields.html.twig' %}
{% endif %}

{% block main %}

    <div class="crudtable">

    {% block crud %}{% endblock %}

    </div>

{% endblock %}